# CityBikes

Send a request to CityBikes for the city of your choice.

In [21]:
#Importing libraries
import requests
import json
import pandas as pd

In [22]:
def getCity(city):
  #url data
  url = "https://api.citybik.es/v2/networks/"

  response = requests.get(url).json()

  city_dict = []
  for city_bike in response['networks']:
    cty = city_bike['location']['city']
    # print(cty)

    if cty.lower() == city.lower():
      city_dict.append(city_bike)

  return city_dict

In [23]:
def getStation(city):
  station_dict = getCity(city)

  # check if city exists
  if not station_dict:
    print("No bike company found for {}".format(city))
    return None

  network_addr = station_dict[0]['href']
  url = "https://api.citybik.es/{}".format(network_addr)
  return requests.get(url).json()['network']['stations']

city = "sestao"
stations = getStation(city)

print(len(stations))
print(stations)

4
[{'empty_slots': 12, 'extra': {'bike_uids': ['378192', '378167', '378114', '378008', '377819', '377681'], 'number': '34513', 'slots': 18, 'uid': '190427027'}, 'free_bikes': 6, 'id': '2f9537c07fae242099299062f016cf19', 'latitude': 43.306193, 'longitude': -3.008859, 'name': 'GALINDO', 'timestamp': '2023-12-11T05:34:48.412000Z'}, {'empty_slots': 9, 'extra': {'bike_uids': ['378270', '377985', '377905'], 'number': '34514', 'slots': 12, 'uid': '190429190'}, 'free_bikes': 3, 'id': 'f882b3bec7639b70741974372b804ad9', 'latitude': 43.309336, 'longitude': -3.008092, 'name': 'KASKO', 'timestamp': '2023-12-11T05:34:48.426000Z'}, {'empty_slots': 4, 'extra': {'bike_uids': ['378217', '378080', '378060', '377979', '377967', '377835', '377778', '377660'], 'number': '34515', 'slots': 12, 'uid': '190429852'}, 'free_bikes': 8, 'id': '132b239eb670ac4fe72d6d2ffde9c818', 'latitude': 43.307856, 'longitude': -3.000458, 'name': 'KUETO', 'timestamp': '2023-12-11T05:34:48.427000Z'}, {'empty_slots': 11, 'extra': {'bike_uids': ['378130', '378055', '378017', '377972'], 'number': '34516', 'slots': 16, 'uid': '190431514'}, 'free_bikes': 4, 'id': '03fcfbd1a504a89b67cbf359f9a085af', 'latitude': 43.310936, 'longitude': -3.000576, 'name': 'LABE GARAIA/ALTO HORNO', 'timestamp': '2023-12-11T05:34:48.428000Z'}]

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [24]:
station_list = []
for station in stations:
  val = {
      'Station Name' : station['name'],
      'Latitude' : station['latitude'],
      'Longitude' : station['longitude'],
      # 'No. of bikes': station['extra']['slots'] - station['empty_slots']
      'No. of bikes': station['extra']['slots']
  }

  station_list.append(val)

# station_list
print(station_list)

[{'Station Name': 'GALINDO', 'Latitude': 43.306193, 'Longitude': -3.008859, 'No. of bikes': 18}, {'Station Name': 'KASKO', 'Latitude': 43.309336, 'Longitude': -3.008092, 'No. of bikes': 12}, {'Station Name': 'KUETO', 'Latitude': 43.307856, 'Longitude': -3.000458, 'No. of bikes': 12}, {'Station Name': 'LABE GARAIA/ALTO HORNO', 'Latitude': 43.310936, 'Longitude': -3.000576, 'No. of bikes': 16}]

Put your parsed results into a DataFrame.

In [25]:
#Putting the lists into a dataframe

df = pd.DataFrame(station_list)

df

             Station Name   Latitude  Longitude  No. of bikes
0                 GALINDO  43.306193  -3.008859            18
1                   KASKO  43.309336  -3.008092            12
2                   KUETO  43.307856  -3.000458            12
3  LABE GARAIA/ALTO HORNO  43.310936  -3.000576            16

In [26]:
#write stationlist to csv
df.to_csv('station_info.csv', index=False)