Build a regression model.

In [12]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

from sklearn import linear_model, datasets

In [13]:
df  = pd.read_csv('merged_df.csv')
df.head()

,Station Name,Latitude,Longitude,No. of bikes,Business Name,Business Address,Business Latitude,Business Longitude,Distance,Category,Review Count,Rating
0,GALINDO,43.306193,-3.008859,18,Duplex,"Calle Iparragirre, 1",43.307911,-3.007915,159.140086,restaurants,1,4.0
1,GALINDO,43.306193,-3.008859,18,Alameda,Calle Alameda las Llanas 17,43.309331,-3.008429,27.281843,bars,1,1.0
2,GALINDO,43.306193,-3.008859,18,Taberna la Venta del Casco,"C/ Gran Vía, 3 Trasera, Plaza del Orfeón",43.307983,-2.996518,69.426699,nightlife,1,3.0
3,GALINDO,43.306193,-3.008859,18,Edur-Mendi,"Gran Via Kalea, 3",43.309562,-3.006886,100.769346,restaurants,3,3.5
4,GALINDO,43.306193,-3.008859,18,Telepizza,Calle Villar y Villate 0,43.308707,-3.006989,113.385711,restaurants,3,3.5

In [14]:
#dropping columns that won't be needed for training
df = df.drop(['Station Name', 'Business Name', 'Business Address', 'Category'], axis=1)
df.head()

,Latitude,Longitude,No. of bikes,Business Latitude,Business Longitude,Distance,Review Count,Rating
0,43.306193,-3.008859,18,43.307911,-3.007915,159.140086,1,4.0
1,43.306193,-3.008859,18,43.309331,-3.008429,27.281843,1,1.0
2,43.306193,-3.008859,18,43.307983,-2.996518,69.426699,1,3.0
3,43.306193,-3.008859,18,43.309562,-3.006886,100.769346,3,3.5
4,43.306193,-3.008859,18,43.308707,-3.006989,113.385711,3,3.5

In [15]:
x = df.drop("No. of bikes" , axis=1)
y = df.pop("No. of bikes")

In [16]:
x.head()

,Latitude,Longitude,Business Latitude,Business Longitude,Distance,Review Count,Rating
0,43.306193,-3.008859,43.307911,-3.007915,159.140086,1,4.0
1,43.306193,-3.008859,43.309331,-3.008429,27.281843,1,1.0
2,43.306193,-3.008859,43.307983,-2.996518,69.426699,1,3.0
3,43.306193,-3.008859,43.309562,-3.006886,100.769346,3,3.5
4,43.306193,-3.008859,43.308707,-3.006989,113.385711,3,3.5

In [17]:
y.head()

0    18
1    18
2    18
3    18
4    18
Name: No. of bikes, dtype: int64

In [18]:
# adding a constant
x = sm.add_constant(x)
lin_reg = sm.OLS(y,x)

In [19]:
#building the model
model = lin_reg.fit()

Provide model output and an interpretation of the results.

In [21]:
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:           No. of bikes   R-squared:                       0.091
Model:                            OLS   Adj. R-squared:                  0.015
Method:                 Least Squares   F-statistic:                     1.200
Date:                Mon, 11 Dec 2023   Prob (F-statistic):              0.312
Time:                        01:17:42   Log-Likelihood:                -214.00
No. Observations:                  92   AIC:                             444.0
Df Residuals:                      84   BIC:                             464.2
Df Model:                           7
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const               1.182e+04   9334.332      1.266      0.209   -6744.902    3.04e+04
Latitude            -279.7015    177.628     -1.575      0.119    -632.935      73.532
Longitude           -103.3562     78.232     -1.321      0.190    -258.929      52.216
Business Latitude  -3.395e-10    119.568  -2.84e-12      1.000    -237.774     237.774
Business Longitude  -1.96e-10     69.204  -2.83e-12      1.000    -137.620     137.620
Distance           -3.436e-14      0.001  -2.57e-11      1.000      -0.003       0.003
Review Count        7.783e-13      0.313   2.49e-12      1.000      -0.623       0.623
Rating             -1.022e-12      0.283  -3.61e-12      1.000      -0.563       0.563
==============================================================================
Omnibus:                      800.942   Durbin-Watson:                   0.087
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               15.118
Skew:                          -0.007   Prob(JB):                     0.000521
Kurtosis:                       1.014   Cond. No.                     1.16e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.16e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
# Model Summary:
# •	Dependent Variable (Dep. Variable): No. of bikes
# •	R-squared (R²): 0.091
# o	The R-squared value indicates the proportion of the variance in the dependent variable (No. of bikes) that is predictable from the independent variables.
# o	In this case, approximately 9.1% of the variance in the number of bikes is explained by the independent variables.
# •	Adjusted R-squared (Adj. R²): 0.015
# o	Adjusted R-squared considers the number of predictors in the model, providing a more reliable measure when there are multiple predictors. It penalizes the inclusion of irrelevant variables.
# •	F-statistic (F-statistic): 1.200
# o	The F-statistic is a measure of how well the entire model explains the variability in the dependent variable.
# o	A higher F-statistic suggests a better fit. Here, it's relatively low.
# •	Prob (F-statistic): 0.312
# o	This is the p-value associated with the F-statistic. A low p-value indicates that the overall regression model is statistically significant. Here, the value is 0.312, suggesting that the model is not statistically significant.
# Coefficients Table:
# •	Const (Constant): 1.182e+04 (11,820)
# o	The constant term in the regression equation when all independent variables are zero.
# •	Coefficients for Independent Variables (e.g., Latitude, Longitude, etc.):
# o	Each coefficient represents the change in the dependent variable for a one-unit change in the corresponding independent variable, holding other variables constant.
# •	P>|t| (p-value):
# o	The p-value associated with each coefficient. It tests the null hypothesis that the corresponding coefficient is equal to zero (no effect).
# o	A low p-value (typically less than 0.05) indicates that the variable is statistically significant.
# Additional Information:
# •	Omnibus: A test of the normality of residuals. A low p-value suggests that the residuals are not normally distributed.
# •	Durbin-Watson: A test for autocorrelation of residuals. Values close to 2 suggest no autocorrelation.
# •	Jarque-Bera (JB): Another test for normality. A low p-value suggests non-normality.
# •	Skewness (Skew): A measure of the asymmetry of the residuals.
# •	Kurtosis: A measure of the "tailedness" of the residuals.
# •	Cond. No. (Condition Number): A measure of multicollinearity. Values greater than 20 may indicate a problematic amount of collinearity.
# Interpretation:
# •	The R-squared is relatively low (9.1%), indicating that the model explains a small portion of the variability in the number of bikes.
# •	The p-values associated with coefficients should be checked to determine which variables are statistically significant.

# Stretch

How can you turn the regression model into a classification model?

In [ ]:
# To turn a regression model into a classification model, one needs to define a threshold or cutoff point, and then predict whether the outcome falls above or below that threshold. This usually involves converting the continuous output of the regression model into discrete categories. Here's a general step-by-step approach:
# 1.	Define Categories:
# o	Decide on the categories you want to predict. For example, you might want to predict whether the number of bikes is "High" or "Low."
# 2.	Choose a Threshold:
# o	Determine a threshold value that separates the categories. This could be based on domain knowledge, business requirements, or a statistical criterion.
# 3.	Create Binary Outcome:
# o	Create a new binary outcome variable based on whether the predicted value from the regression model is above or below the chosen threshold.
# o	Example: If predicted value > Threshold, assign category "High," else assign category "Low."
# 4.	Train a Classification Model:
# o	Use the binary outcome as the dependent variable and the same set of independent variables from the regression model.
# o	Choose a suitable classification algorithm (e.g., logistic regression, decision tree, random forest) and train the model on the binary outcome.
# 5.	Evaluate the Classification Model:
# o	Assess the performance of the classification model using standard classification metrics (accuracy, precision, recall, F1-score, etc.).
# o	Split your data into training and testing sets to evaluate the model on unseen data.

# To be more specific for our data set, we can do the following;
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
# Assuming df is the DataFrame with the regression results
# Let's say I want to predict if the number of bikes is "High" (1) or "Low" (0)
threshold = 12000  # Choose an appropriate threshold
# Create a binary outcome variable
df['BikeCategory'] = np.where(df['PredictedNumberofBikes'] > threshold, 1, 0)
# Define features (independent variables) and target (dependent variable)
X = df[['Latitude', 'Longitude', 'Distance', 'Review Count', 'Rating']]
y = df['BikeCategory']
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Train a logistic regression model (one can choose another classification algorithm)
model = LogisticRegression()
model.fit(X_train, y_train)
# Predict on the test set
y_pred = model.predict(X_test)
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)
print(f"Accuracy: {accuracy}")
print("Classification Report:\n", classification_rep)